<ul class="notificator">
  <a href="#" id="open_notification">

  </a>
  <div id="notificationContainer">
    <div id="notificationTitle">Notifications</div>
    <div id="notificationsBody" class="notifications">
      <ul id="notificationList">
    
      </ul>
    </div>
    <div id="notificationFooter"></div>
  </div>
</ul>
