<div class="bodyc">
<div class='container'>
    <div class="col-sm-6">
      <fieldset style="border: 1px solid #ccc; float: left; margin:10px;width:500px;
      height=500px">
        <legend style="width: auto;border-bottom: 0px;" >Latest Orders</legend>

          <p>test</p>


      </fieldset>
    </div>

    <div class="col-sm-6">
      <fieldset style="border: 1px solid #ccc; float: left; margin:10px ;width:500px;">
        <legend style="width: auto;border-bottom: 0px;">Friends Activity</legend>

          <p>test</p>


      </fieldset>
    </div>
    </div>
